# ETL - S3 to Redshift

In [1]:
%load_ext sql

In [2]:
import configparser
import boto3

## AWS Configurations

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY=config.get('AWS','KEY')
SECRET= config.get('AWS','SECRET')

DWH_ROLE_ARN = config.get("IAM_ROLE","ARN")

DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_ENDPOINT = config.get("CLUSTER","HOST")
DWH_DB_NAME= config.get("CLUSTER","DB_NAME")
DWH_DB_PORT = config.get("CLUSTER","DB_PORT")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT, DWH_DB_NAME)
%sql $conn_string

'Connected: awsuser@dev'

## Check out the sample data sources on S3

In [5]:
s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

## ETL

### Create Tables

In [7]:
!python3 create_tables.py

In [8]:
%%sql 
SELECT * FROM information_schema.tables 
WHERE table_schema = 'public'
ORDER BY table_name

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('dev', 'public', 'artists', 'BASE TABLE', None, None, None, None, None),
 ('dev', 'public', 'songplays', 'BASE TABLE', None, None, None, None, None),
 ('dev', 'public', 'songs', 'BASE TABLE', None, None, None, None, None),
 ('dev', 'public', 'staging_events', 'BASE TABLE', None, None, None, None, None),
 ('dev', 'public', 'staging_songs', 'BASE TABLE', None, None, None, None, None),
 ('dev', 'public', 'time', 'BASE TABLE', None, None, None, None, None),
 ('dev', 'public', 'users', 'BASE TABLE', None, None, None, None, None)]

### Load Data

In [9]:
!python3 etl.py

### Validation

In [10]:
%%sql
SELECT 'staging_events' AS table_name, COUNT(*) AS record_count FROM staging_events
UNION ALL 
SELECT 'staging_songs' AS table_name, COUNT(*) AS record_count FROM staging_songs
UNION ALL 
SELECT 'artists' AS table_name, COUNT(*) AS record_count FROM artists
UNION ALL 
SELECT 'songplays' AS table_name, COUNT(*) AS record_count FROM songplays
UNION ALL 
SELECT 'songs' AS table_name, COUNT(*) AS record_count FROM songs
UNION ALL 
SELECT 'time' AS table_name, COUNT(*) AS record_count FROM time
UNION ALL 
SELECT 'users' AS table_name, COUNT(*) AS record_count FROM users
ORDER BY table_name

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('artists', 10025),
 ('songplays', 333),
 ('songs', 14896),
 ('staging_events', 8056),
 ('staging_songs', 14896),
 ('time', 6813),
 ('users', 104)]

In [11]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796.0, 184, 'Am I High (Feat. Malice)', 200, 1541121934796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '101'),
 (None, 'Logged In', 'Stefany', 'F', 0, 'White', None, 'free', 'Lubbock, TX', 'GET', 'Home', 1540708070796.0, 82, None, 200, 1541122176796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '83'),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', 216.42404, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796.0, 82, 'A Lack Of Color (Album Version)', 200, 1541122241796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '83'),
 ('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', 221.33506, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796.0, 82, 'I Have A Wish', 200, 1541122457796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '83'),
 ('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', 1540006905796.0, 153, 'Monster (Album Version)', 200, 1541126568796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '66')]

In [12]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('AR73AIO1187B9AD57B', 37.77916, 'San Francisco, CA', -122.42005, 'Western Addiction', 118.07302, 1, 'SOQPWCR12A6D4FB2A3', 'A Poor Recipe For Civic Cohesion', 2005),
 ('ARC1IHZ1187FB4E920', None, '', None, 'Jamie Cullum', 246.9873, 1, 'SOXZYWX12A6310ED0C', "It's About Time", 0),
 ('ARGE7G11187FB37E05', None, 'Brooklyn, NY', None, 'Cyndi Lauper', 240.63955, 1, 'SONRWUU12AF72A4283', 'Into The Nightlife', 2008),
 ('ARBZIN01187FB362CC', 1.32026, '27', 103.78871, 'Paris Hilton', 192.28689, 1, 'SOERIDA12A6D4F8506', 'I Want You (Album Version)', 2006),
 ('ARTC1LV1187B9A4858', 51.4536, "Goldsmith's College, Lewisham, Lo", -0.01802, 'The Bonzo Dog Band', 301.40036, 1, 'SOAFBCP12A8C13CC7D', 'King Of Scurf (2007 Digital Remaster)', 1972)]

In [13]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('AR73AIO1187B9AD57B', 'Western Addiction', 'San Francisco, CA', 37.77916, -122.42005),
 ('ARBZIN01187FB362CC', 'Paris Hilton', '27', 1.32026, 103.78871),
 ('ARA23XO1187B9AF18F', 'The Smithereens', 'Carteret, New Jersey', 40.57885, -74.21956),
 ('AR2L9A61187B9ADDBC', 'Tangerine Dream', 'Berlin, Germany', 52.51607, 13.37698),
 ('ARIG6O41187B988BDD', 'Richard Souther', 'United States', 37.16793, -95.84502)]

In [14]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(2, datetime.datetime(2018, 11, 8, 15, 1, 57), '29', 'paid', 'SOFVOQL12A6D4F7456', 'ARPN0Y61187B9ABAA0', 372, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (4, datetime.datetime(2018, 11, 21, 1, 48, 56), '97', 'paid', 'SOJNJGQ12A6D4F62BC', 'ARMYDZ21187B9A550C', 671, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (10, datetime.datetime(2018, 11, 21, 3, 12, 22), '80', 'paid', 'SOMULQH12A8C138213', 'ARENWML1187B99ECB6', 774, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (16, datetime.datetime(2018, 11, 26, 15, 37, 14), '88', 'paid', 'SOARTQC12A58A77F0C', 'ARCE0IX1187FB528B4', 900, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (18, datetime.datetime(2018, 11, 30, 10, 42, 9), '36', 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 998, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [15]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('SOQPWCR12A6D4FB2A3', 'A Poor Recipe For Civic Cohesion', 'AR73AIO1187B9AD57B', 2005, 118.07302),
 ('SOERIDA12A6D4F8506', 'I Want You (Album Version)', 'ARBZIN01187FB362CC', 2006, 192.28689),
 ('SOKTJDS12AF72A25E5', 'Drown In My Own Tears (24-Bit Digitally Remastered 04)', 'ARA23XO1187B9AF18F', 0, 192.522),
 ('SOMUYGI12AB0188633', 'La Culpa', 'ARL7K851187B99ACD2', 0, 226.35057),
 ('SOSIJKW12A8C1330E3', 'A God In An Alcove (Session Version)', 'ARKIQCZ1187B9A7C7C', 0, 248.65914)]

In [16]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 2, 1, 25, 34), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 2, 42, 48), 2, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 3, 34, 34), 3, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 5, 52, 29), 5, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 1, 21), 9, 2, 44, 11, 2018, 5)]

In [17]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('101', 'Jayden', 'Fox', 'M', 'free'),
 ('66', 'Kevin', 'Arellano', 'M', 'free'),
 ('48', 'Marina', 'Sutton', 'F', 'free'),
 ('86', 'Aiden', 'Hess', 'M', 'free'),
 ('15', 'Lily', 'Koch', 'F', 'paid')]

### Example Analytical Queries

#### 1-What is the most played song?

In [21]:
%%sql
SELECT 
    s.title as song_title,
    COUNT(sp.songplay_id) AS songplay_count
FROM songplays AS sp
JOIN songs AS s ON sp.song_id = s.song_id
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[("You're The One", 37),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ("I CAN'T GET STARTED", 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ("Hey Daddy (Daddy's Home)", 6),
 ('Make Her Say', 5),
 ('Up Up & Away', 5),
 ('Supermassive Black Hole (Album Version)', 4),
 ('Mr. Jones', 4),
 ('Unwell (Album Version)', 4)]

#### 2-What is the highest usage time of day by hour for songs?

In [22]:
%%sql
SELECT 
    EXTRACT(hour FROM start_time) AS hour,
    COUNT(songplay_id) AS songplays
FROM songplays sp
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10

 * postgresql://awsuser:***@redshift-cluster-1.corlwb03vfhe.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(17, 40),
 (18, 26),
 (15, 25),
 (16, 24),
 (20, 18),
 (8, 18),
 (19, 16),
 (14, 16),
 (11, 16),
 (13, 14)]